[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyterlab = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
xgboost = "*"
lightgbm = "*"
joblib = "*"
python-dotenv = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.13"
